*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
     height: 800px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;
     background-color: rgb(104, 91, 190);
}

h1{
    background-color: rgb(49, 40, 107);
    color: white;
    height: 5rem;
    line-height: 5rem;
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border: 5px solid white;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(41, 35, 79);
}
img{
    height: 150px;
    width: 150px;
    object-fit:cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 20px;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 2rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: rgb(49, 40, 107);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 3rem;
} 

